:root {
  --back-color:#0f0f0f;
  --main-primary-color: #c80308;
  --linear-background: linear-gradient(335deg, rgba(161,200,238,1) 3%, rgba(235,210,246,1) 92%);
}
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}





a {
  color: inherit;
  text-decoration: none;
}
.hero_heading{
  font-size: 2.3rem;
  font-weight: 600;
}
.hero_main{
  background: var(--linear-background);
  padding: 50px 20px;
  position: relative;
  /* height: 240px; */
}
.hero_explore_btn{
  border-radius: 15px;
    border: 1px solid var(--main-primary-color);
    background-color: var(--back-color);
    color: #fff;
    padding: 5px 15px;
}
.hero_image{
  filter: opacity(0.8);
}
.detail_movie_img{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 10px;
}
.movie_type_span{
  color: var(--main-primary-color);
}
.movie_details_title{
  color: var(--main-primary-color);
}
/* --Loading--Css-- */
.loading_main{
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: var(--main-primary-color) transparent var(--main-primary-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-shape-divider-bottom-1684749746 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684749746 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684749746 .shape-fill {
  fill: #FFFFFF;
}
/* ------ContactUs-Page------- */
.main_contact_card{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 15px 10px;
  text-align: center;
  border-radius: 8px;
}
.contact__icon{
  color: var(--main-primary-color);
  font-size: 25px;
}
.contact__pp{
  font-size: 14px;
}
.contact__btn{
  font-size: 13px;
  color: var(--main-primary-color);
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  transition: all cubic-bezier(0.57, 0, 0.53, 0.95) 0.3s;
}
.contact__btn:hover{
  transform: translateX(10px);
}
.contactUs_head{
  text-align: center;
  color: var(--main-primary-color);
  text-shadow: -2px 0px 2px #ae2d30;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4rem;
  margin-bottom: 15px;
}
.from_you{
  color: var(--back-color);
}
.contact_form_main{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 8px;
  padding: 15px;
}